/* * {
    @font-face {
        font-family: "Overpass";
        src: url(https://fonts.google.com/specimen/Overpass) format("truetype");
    }
} */

body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass, sans-serif;
    height: 100vh;
}

body p {
    font-size: 15px;
}

#wrapper {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.feedback-card-rating {
    position: absolute;
    background-image: linear-gradient( 180deg, hsl(213, 19%, 18%), hsl(213, 19%, 12%));
    border-radius: 30px;
    transition: all 1s ease;
    padding: .3rem;
    transform: translate(0,50%);
}

.feedback-card-rating.flip {
    transform: translate(0,50%) rotateY(180deg);
    backface-visibility: hidden;
}

.feedback-card-rating .icons {
    margin: 2rem 1.7rem;
    width: 17px;
    height: 17px;
    background-color: rgba(255,255,255,.1);
    padding: 17px;
    border-radius: 50%;
}

.feedback-card-rating h1 {
    margin-left: 1.7rem;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
}

.feedback-card-rating p {
    margin: 0 1.7rem;
    color: hsl(217, 12%, 63%);
    line-height: 1.5rem;
}

.feedback-card-rating form {
    margin: 2rem 1.7rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    row-gap: 1.7rem;
    align-items: center;
    align-content: center;
}

.feedback-card-rating form > div {
    display: inline-block;
    position: relative;
    transition: all .3s ease;
}

.feedback-card-rating form > div input[type=radio] {
    width: 100%;
    margin: 0;
    background-color: rgba(255,255,255,.1);
    border-radius: 50px;
    cursor: pointer;
    appearance: none;
    transition: all .3s ease;
}

.feedback-card-rating form > div:hover input[type=radio] {
    background-color: hsl(217, 12%, 63%);
}

.feedback-card-rating form > div input[type=radio]:checked {
    background-color: hsl(25, 97%, 53%);
}

.feedback-card-rating form > div input[type=radio]:checked+label {
    color: #fff;
}

.feedback-card-rating form > div label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    transition: all .3s ease;
}

.feedback-card-rating form > div:hover label {
   color: #fff;
}

.feedback-card-rating form > div:last-child {
    display: block;
    grid-column: span 5;
}

.feedback-card-rating form > div:last-child input {
    width: 100%;;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: hsl(25, 97%, 53%);
    padding: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: all .3s ease;
}

.feedback-card-rating form > div:last-child input:hover {
    background-color: rgba(255,255,255,1);
    color: hsl(25, 97%, 53%);
}

.feedback-card-state {
    position: absolute;
    background-image: linear-gradient( 180deg, hsl(213, 19%, 18%), hsl(213, 19%, 12%));
    border-radius: 50px;
    width: 100%;
    display: flex;
    padding: .3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0,50%) rotateY(-180deg);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 1s ease;
}

.feedback-card-state.flip {
    transform: translate(0,50%) rotateY(0deg);
}

.feedback-card-state svg {
    display: block;
    margin: 2rem;
}

.feedback-card-state .rating-choice {
    display: inline-block;
    margin: 1rem;
    background-color: rgba(255,255,255,.1);
    padding: 10px 15px;
    border-radius: 50px;
    color: hsl(25, 97%, 53%);
}

.feedback-card-state h1 {
    color: #fff;
    text-align: center;
    margin: 1.5rem 0 .5rem 0;
}

.feedback-card-state p {
    color: hsl(217, 12%, 63%);
    line-height: 20px;
    text-align: center;
    margin: 1.7rem;
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    color: #fff;
}

/* @media screen and (min-width: 375px) and (max-width: ) {

} */

@media screen and (max-width: 375px) {

    #wrapper {
        width: 350px;
    }

    .feedback-card-rating, .feedback-card-state {
        padding: 0;
    }

    .feedback-card-rating form > div:last-child input {
        padding: 13px;
    }

    .feedback-card-rating form {
        gap: .7rem;
        row-gap: 1.7rem;
    }

}