/* * {
    @font-face {
        font-family: "Overpass";
        src: url(https://fonts.google.com/specimen/Overpass) format("truetype");
    }
} */

body {
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass, sans-serif;
    height: 100vh;
}

body p {
    font-size: 15px;
}

#wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 400px;
}

.feedback-card-rating {
    position: absolute;
    background-image: linear-gradient( 180deg, hsl(213, 19%, 18%), hsl(213, 19%, 12%));
    border-radius: 50px;
    padding: 50px;
    width: 100%;
    transition: all 1s ease;
}

.feedback-card-rating.flip {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.feedback-card-rating h1 {
    color: hsl(0, 0%, 100%);
}

.feedback-card-rating p {
    color: hsl(217, 12%, 63%);
    line-height: 20px;
}

.feedback-card-rating .icons {
    width: 18px;
    height: 18px;
    background-color: rgba(255,255,255,.1);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.feedback-card-rating form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2.5rem;
    gap: 1.5rem;
    row-gap: 2.5rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.feedback-card-rating form > div {
    display: inline-block;
    position: relative;
    transition: all .3s ease;
}

.feedback-card-rating form > div input[type=radio] {
    width: 100%;
    background-color: rgba(255,255,255,.1);
    border-radius: 50px;
    cursor: pointer;
    appearance: none;
    transition: all .3s ease;
}

.feedback-card-rating form > div:hover input[type=radio] {
    background-color: hsl(217, 12%, 63%);
}

.feedback-card-rating form > div input[type=radio]:checked {
    background-color: hsl(25, 97%, 53%);
}

.feedback-card-rating form > div input[type=radio]:checked+label {
    color: #fff;
}

.feedback-card-rating form > div label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -40%);
    cursor: pointer;
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    transition: all .3s ease;
}

.feedback-card-rating form > div:hover label {
   color: #fff;
}

.feedback-card-rating form > div:last-child {
    display: block;
    grid-column: span 5;
}

.feedback-card-rating form > div:last-child input {
    width: 100%;;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: hsl(25, 97%, 53%);
    padding: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: all .3s ease;
}

.feedback-card-rating form > div:last-child input:hover {
    background-color: rgba(255,255,255,1);
    color: hsl(25, 97%, 53%);
}

.feedback-card-state {
    position: absolute;
    background-image: linear-gradient( 180deg, hsl(213, 19%, 18%), hsl(213, 19%, 12%));
    border-radius: 50px;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 1s ease;
}

.feedback-card-state.flip {
    transform: rotateY(0deg);
}

.feedback-card-state svg {
    display: block;
    margin: 20px auto 60px auto;
}

.feedback-card-state .rating-choice {
    margin: 0 auto 30px auto;
    display: inline-block;
    background-color: rgba(255,255,255,.1);
    padding: 10px 15px;
    border-radius: 50px;
    color: hsl(25, 97%, 53%);
}

.feedback-card-state h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.feedback-card-state p {
    color: hsl(217, 12%, 63%);
    line-height: 20px;
    text-align: center;
}